<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--获得userServiceImpl-->
    <!--<bean id="userService" class="com.yeqifu.service.impl.UserServiceImpl" scope="singleton" init-method="initMethod" destroy-method="destroyMethod">-->
    <!--    <constructor-arg name="nickName" value="luoyi-"></constructor-arg>-->
    <!--    <constructor-arg name="age" value="23"></constructor-arg>-->
    <!--    <property name="userDao" ref="userDao"></property>-->
    <!--</bean>-->

    <!--&lt;!&ndash;获得userDaoImpl&ndash;&gt;-->
    <!--<bean id="userDao" class="com.yeqifu.dao.impl.UserDaoImpl"></bean>-->

    <!--获得userDaoImpl-->
    <bean id="userDao2" class="com.yeqifu.factory.MyFactoryBean" factory-method="getUserDao">
        <constructor-arg name="name" value="luoyi-"></constructor-arg>
    </bean>

</beans>